.fileExplorer {
    background-color: #2a2d2e;
    flex: 1 0 20%;
    color: #ccc;
    padding: 10px;
}

.hiddenCheckBox{
    display: none;
}

.hiddenCheckBox ~ div  {
    display: none;
}

.hiddenCheckBox {
    &:checked ~ div{
        display: block;
    }
}



.explorerFolder {
    position: relative;
    color: #ccc;
    margin:5px;
    display: block;
    padding-inline-start: 15px;
    &::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23ccc' height='10px' width='10px' viewBox='0 0 330 330' xml:space='preserve'%3E%3Cpath id='XMLID_222_' d='M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001 c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213 C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606 C255,161.018,253.42,157.202,250.606,154.389z'/%3E%3C/svg%3E");
        width:10px;
        height:10px;
        position: absolute;
        inset-inline-start: 0;
    }
}

.explorerFolderContent{
    padding-inline-start: 15px;
}

.explorerFile{
    color: #ccc;
    margin: 3px;
    padding-inline-start: 20px;
    position: relative;
    &::before {
        content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15px' height='15px' viewBox='0 -43.5 1111 1111' version='1.1'%3E%3Cpath d='M672.914286 144.091429c-1.462857-0.731429 212.114286 196.022857 212.114285 196.022857V775.314286h87.771429v-452.022857s-264.777143-264.045714-266.24-264.777143H277.942857c-48.274286 0-87.771429 39.497143-87.771428 87.771428h87.771428s397.897143-0.731429 394.971429-2.194285z m-394.971429 711.68v-629.028572h-87.771428v629.028572c0 48.274286 39.497143 87.771429 87.771428 87.771428h607.085714c48.274286 0 87.771429-39.497143 87.771429-87.771428h-87.771429-607.085714z' fill='%230C92F2'/%3E%3Cpath d='M365.714286 504.685714h424.228571v263.314286h-424.228571z' fill='%23A8C8E6'/%3E%3Cpath d='M365.714286 680.228571h424.228571v87.771429h-424.228571z' fill='%2361B6F2'/%3E%3Cpath d='M365.714286 504.685714h424.228571v87.771429h-424.228571z' fill='%23FC830A'/%3E%3Cpath d='M869.668571 345.234286l-12.434285-33.645715-2.925715 51.2 43.885715-40.96h-237.714286l43.885714 43.885715 0.731429-263.314286h-14.628572l-31.451428 30.72 210.651428 212.114286z m-161.645714-287.451429h-90.697143l-0.731428 351.085714h322.56l6.582857-111.908571-237.714286-239.177143z' fill='%230C92F2'/%3E%3C/svg%3E");
        width: 15px;
        height: 15px;
        position: absolute;
        inset-inline-start: 0;
    }
}