html{
  box-sizing: border-box;
  min-height: 100vh;
}

*,::after,*::before{
  box-sizing: inherit;
}

html,body{
  margin:0;
  padding: 0;
}
body{
  min-height: 100vh;
}
div#root {
  min-height: 100vh;
}
